<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='utf-8'>
    <title>Busca de jogos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    

</head>
<body>
    <div class="container mt-5" >
        <div class="card">
            <div class="card-header">
                <h3>Busque seus jogos aqui</h3>   
                <h5>Filtre os melhores jogos de acordo com sua avaliação!</h5>        
            </div>
    
            <div class="card-body">
                <form action="/" method="POST">
                    <div class="form-group">
                              <label for="nome">Nome</label>
                              <input class="form-control" type='text' name='nome' id='nome'>
                              <label for="nota">nota</label>
                              <input class="form-control" type='number' name='nota' id='nota'>
        
                              <input type="submit" class="btn btn-outline-success mt-2" value="Buscar">
                      </div>
                </form>
                
            </div>
            <div class="container">
                <div class="card mt-2 mb-2">
                    <div class="card-body ">
                        <h5>Resultado Jogos</h5>
                        <% jogos.map((game) => { %>
                        <h2><%= game.name %></h2>
                        <img class ='w-100' src ='<%= game.background_image %>' />
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>